<style>
    body {background: #fff; color: #000;}
        .footer {
            background: #fff;
            box-shadow: 10px 10px 10px 10px;
            width: 100%;
            bottom: 0px;
            left: 0px;
            position: fixed;
            padding: 0px;
            text-align: center;
        }

        .frame {
            padding: 5px;
            border-radius: 10px 10px 10px 10px;
            width: 200px;
            height: 150px;
            background: #9999ff;
            margin: 5px;

        }
</style>
<h1>Resume</h1>


<div align="center">
<div class="container" style="width: 60%; padding-top: 10px;text-align: left;">



    <h3>Work Experience</h3>
<p>
    <i>One year of experience as cofounder of <a href="https://github.com/maryammouse/umedoc-dev-rails">Umedoc</a>, an online marketplace for doctors and patients - involved in every aspect of the company, from strategy and marketing to building the entire back-end and front-end of the site in Rails.</i>
  </p>
  <div align="center">

  <p>
    <i><ul>Drag to taskbar to enlarge.</ul></i>
  <img class="frame" src="<%= image_path('VisitPage_old.jpg')%>">
  <img class="frame" src="<%= image_path('DoctorPatientVisit_old.jpg')%>">
  <img class="frame" src="<%= image_path('DoctorSignupPage_old.jpg')%>">
    <br>
  </p>
  </div>
    <p>
  <h4>Technical Skills</h4>

    <ul>
      <li>Front end design (<b>JS</b>, <b>JQuery</b>, <b>Bootstrap</b>)</li>
      <li>Data modeling and schema design (Entity-relationship diagrams)</li>
      <li>Database creation and migration using both ActiveRecord and SQL migrations (<b>Postgres</b>)</li>
      <li>Version control (<b>Git</b>, using both centralized workflow for senior developers and
        integration-manager workflows for junior developers, both the private small team setup and
        forked public project setup with our private repo)</li>
      <li>Test-driven development with extensive test coverage (<b>Rspec</b>, <b>Selenium</b>, <b>Poltergeist</b>, <b>Capybara</b>, <b>Brakeman</b>)</li>
      <li>API integrations (<b>Stripe</b>, <b>Twilio</b>, <b>OpenTok</b>, <b>Authy</b>)</li>
      <li>Infrastructure with <b>AWS</b> (NAT/bastion server high availability for VPC instances,
        network, subnets public and private, blue-green deployment, staging, <b>Elastic Beanstalk</b>,
        <b>S3</b>, <b>IAM Key Management</b>, <b>RDS</b> with high availability)</li>
        <li>background work (<b>ActiveJob/DelayedJob</b>, <b>ActiveMailer</b>)
      </li>
    </ul>
    </p>
  <div style="padding-bottom: 250px;">
<h3>Education</h3>

<ul>
<li>Two years of full-time community college starting at age 16, majoring in Mathematics.</li>
<li>Accepted for transfer to UCLA Mathematics major with a 3.9 GPA, but declined offer in order to start Umedoc</li>
<li>Self-taught Python, Ruby, and Rails, basics of AngularJS and NodeJS through Udacity, Codecademy, Codeschool and books/tutorials</li>
  </ul>
    </div>


      </div>
</div></div>
<div class="footer" style="font: 15pt Georgia;">
  <img src="<%= image_path('Umedoc-mascots-proper-resized-transparent.png')%>" style="width: 150px;">
  <h4>Maryam Syed <br>< maryamsyed2096@gmail.com ></h4>
    <a href="https://www.linkedin.com/in/maryamsyed" class="btn btn-default"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>

    <a href="https://github.com/maryammouse" class="btn btn-default"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
  </p>
</div>
</p>
