<style>
  body {background: #fff; color: #000;}
</style>
<h1>Tech Blog</h1>

<div align="center">
  <div class="container" style="width: 60%; padding-top: 10px;text-align: left;">
<%= render :partial => @posts %>
    <div>
            </div>

